<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicoComunicacoesEletronicas.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ServicoComunicacoesEletronicas.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicoComunicacoesEletronicas.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ServicoComunicacoesEletronicas.Settings>
            <setting name="FREQUENCIA_EXECUCAO_ROTINA" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="URL_OBTER_LISTA_INTIMACOES" serializeAs="String">
                <value>https://integradoridea.dsv.sistemas.intranet.mpba.mp.br/api/intimacaocitacao/ObterListaIntimacaoCitacao</value>
            </setting>
        </ServicoComunicacoesEletronicas.Settings>
        <ServicoComunicacoesEletronicas.Settings1>
            <setting name="FREQUENCIA_EXECUCAO_ROTINA" serializeAs="String">
                <value>30</value>
            </setting>
        </ServicoComunicacoesEletronicas.Settings1>
    </applicationSettings>
    <userSettings>
        <ServicoComunicacoesEletronicas.Settings>
            <setting name="URL_OBTER_DOC_CIENCIA" serializeAs="String">
                <value>https://integradoridea.dsv.sistemas.intranet.mpba.mp.br/api/intimacaocitacao/ObterDocCiencia</value>
            </setting>
        </ServicoComunicacoesEletronicas.Settings>
    </userSettings>
</configuration>